.cont {
  max-width: 100%;
  min-height: 400px;
  margin: 30px 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #191919;
  text-align: center;
  color: #807b7b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inner {
  width: 1000px;
  min-height: 100px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #393838;
  margin: 10px 100px;
  display: flex;
}
.innerImg img {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
}
.inner.Wrap {
  display: flex;
  flex-direction: row;
}
.innerTitle {
  padding: 20px 10px;
  color: rgb(225, 222, 228);
  font-size: 25px;
}

.innerPrice {
  padding: 0 10px;
  color: rgb(71, 31, 120);
  font-size: 25px;
}
.descript {
  color: rgb(97, 107, 112);
  font-size: 16px;
  margin-bottom: 15px;
}
.oldPrice {
  color: #403f41;
  font-size: 16px;
  text-decoration-line: line-through;
}
